*{
    margin: 0;
    padding: 0;
}

.alap{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: yellow;
    align-items: center;

}

ul {
    width: 100px;
    height: 100px;
    background-color: purple;
    display: flex;
    margin-right: 5px;
}