.alap{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

#zold{
    background-color: purple;
    width: 33%;
    height:300px;
}
#sarga{
    background-color: yellow;
    height: 300px;
    width: 33%;
}
#lila{
    background-color: green;
    height: 300px;
    width: 33%;
}


